<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Microphone for offline STT transmission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Offline WiFi Direct / Local Network Mesh P2P -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Offline Bluetooth P2P -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Vibration for emergency alerts & tactile PTT click -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".SenderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaaniSetu">

        <!-- High-Tech Sender Startup / Boot Animation -->
        <activity
            android:name=".SenderSplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VaaniSetu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dedicated Field Transceiver Unit Activity -->
        <activity
            android:name=".SenderActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

    </application>
</manifest>
